<% all_vimeos %>
<% get_videos_all_together(@all_vimeos) %>

<% @all_vids.each do |video| %>
  <ul class="vimeo-feed">
    <% @vimeo_feed = Feed.find_by(id: video.feed_id) %>
    <li> <%= @vimeo_feed.handle %> posted on <%= video.datetime %></li>
    <li><iframe src="//player.vimeo.com/video/<%= get_id_number(video.content) %>" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></li>
    <li>Watch on <%= link_to "Vimeo", video.content, target: "_BLANK" %></li>
  </ul>
<% end %>
