<h2>Search Results</h2>

<div class="wrap-vimeo-results">
  <ul class="vimeo-feed">
    <div class="col-xs-4">

      <%= @vimeo_results.each do |vimeo| %>
        <ul>
          <li><%= image_tag get_profile_picture(vimeo.profile_pics) if vimeo.profile_pics %></li>

          <li>Name: <%= vimeo.name %></li>
          <li>Username: <%= get_vimeo_handle(vimeo.url) %></li>

        </ul>
      <% end %>
    </div>
  </ul>

</div>
