<h2>Search Results</h2>
<%= image_tag @vimeo_results["portrait_medium"] %>
<%= @vimeo_results["display_name"] %>
<%= @vimeo_results["location"] %>
<%= link_to "Profile", @vimeo_results["profile_url"] %>
