<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<a href="/auth/github">blhalala</a>

<p><em>VIMEO USER SEARCH</em></p>
<form id="search" action="/search_vimeo" method="POST">
  <input type="text" name="search" placeholder="Search">
  <input type="submit" value="Go!">
</form>
