
<div class="media">
  <a href= "/auth/twitter"><img src = "twitter.png"></a>
  <a href= "/auth/github"><img src = "Github.png"></a>
</div>

<br>


<% parse_vimeo %>
<%= @vimeo_arrays %>



<p><em>TWITTER USER SEARCH</em></p>
<%= render "/twitter/search_form" %>
