<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>



<a href="/auth/github">Sign-In with Github</a>
<a href="/auth/twitter">DON'T Sign-In with Twitter</a>



<p><em>VIMEO USER SEARCH</em></p>
<form id="search" action="/search_vimeo" method="POST">
  <input type="text" name="search" placeholder="Search">
  <input type="submit" value="Go!">
</form>
<br />

<p><em>TWITTER USER SEARCH</em></p>
<%= render "/twitter/search_form" %>
