<p class="notice" ><%= notice %></p>

<a href="/auth/github">Sign-In with Github</a><br />
<a href="/auth/twitter">DON'T Sign-In with Twitter</a>

<div class="media">

  <a href= "/auth/twitter"><%= image_tag "twitter.png" %></a>
  <a href= "/auth/github"><%= image_tag "Github.png" %></a>

</div>

<br>

<p><em>TWITTER USER SEARCH</em></p>
<%= render "/twitter/search_form" %>

<!-- <#% parse_vimeo %> -->

<!-- <#% @vimeos.each do |video| %>
  <ul class="vimeo-feed">
      <li><#%= video["user_name"] %> posted on <#%= video["upload_date"] %></li>
      <li><iframe src="//player.vimeo.com/video/<#%= video["id"] %>" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></li>
      <li>Watch on <#%= link_to "Vimeo", video["url"], :target =>"_blank" %></li>
  </ul>
<#% end %> -->
