
<a href="/auth/github">Sign-In with Github</a>
<a href="/auth/twitter">DON'T Sign-In with Twitter</a>

<br>


<% parse_vimeo %>
<%= @vimeo_arrays %>



<p><em>TWITTER USER SEARCH</em></p>
<%= render "/twitter/search_form" %>
