<h2>Search Results</h2>

<% @api.each do |a|%>
<div class= "git_result">
  <%= image_tag "#{a["profile_picture"]}" %>
  <%= a["username"] %>
  <%= button_to "Subscribe" , "/instagram/new", class="btn btn-info" %>
  <%# api.id %>
  <% hidden_field_tag "id", a["id"]  class: "info"  %>
</div>

<% end %>
