@import "bootstrap-sprockets";
@import "bootstrap";

// *{
//   border: 1px solid pink;
// }

ul.vimeo-feed {
  list-style-type: none;
}

.wrap-vimeo-results {
  width: 50%;
}



html{
  margin: 15px;


}

body {
  background-image: url(image_path("bg_stars.gif"));
  background-repeat: repeat
}

.search-container {
  background-image: url(image_path("pinkmonster.png"));
  background-repeat: repeat

}

.login {
  padding: 15px;
  background-color: #7FFF00;
  // border: 1px solid pink;
  position:absolute;
  top:0;
  right:0;
  }

.media img{

  height: 50px;
  padding: 4px;
}
