@import "bootstrap-sprockets";
@import "bootstrap";

// *{
//   border: 1px solid pink;
// }

html{
  margin: 15px;
}

body {
  background-image: url(image_path("bg_stars.gif"));
  background-repeat: repeat;
}

ul {
  list-style-type: none;
}

.leftLogo {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: left
}

.rightLogo {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: right
}

.search-container {
  background-image: url(image_path("greenstar.gif")) ;
  background-repeat: repeat;
  margin-left: auto ;
  margin-right: auto ;
  margin-top:0px;
  padding-top: 0px;
  min-height: 95px;
  text-align: center;
  font-weight: bold;
}

.searchbox {
  display: inline-block;
  text-align: center;
}


.login {
    background-image: url(image_path("greenstar.gif")) ;
    background-repeat: repeat;
    margin-bottom:0;
    text-align: center;
    height: 140px;
}

.media img {
  height: 50px;
  padding: 4px;
}

.media:hover img {
}

.git_result {
  height: 110px;
  background-image: url(image_path("greenstar.gif")) ;
  width: 300px;
  margin: 5px;
  font-size: 25px;
  font-family: "courier new";
  font-weight: bold;
}

.git_result img {
  float: left;
  padding: 5px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.btn-info {
  float: right;
  margin-right: 10px;
}

.home {
  margin: 10px;
  height: 120px;
  width: 200px;
  float: left;
}

.home img {
  margin-top:0px;
  float: left;
}

h2 {
  color: #ffffff;
}

.wrap-vimeo-results {
  width: 70%;
  margin: 0 auto;
}

.vimeo-result {
  background-image: url(image_path("greenstar.gif")) ;
  width: 50em;
  height: 112px;
  padding-top: .1em;
  padding-bottom: .1em;
  margin: 1.5em;
}

.items {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}

// .vimeo-result a {
//   color: #000000;
//   background-color: #ffffff;
//   font-weight: bold;
// }

.choose .delete button {
  padding-top: 1em;
}
.notice {
  font-size: 1.2em;
  color: #f15a35;
}

.feed {
  color: #ffffff;
}

.no-vimeos {
  color: #ffffff;
}

.chosen {
  background-image: url(image_path("noodle2.gif")) ;
}
